# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.venv/
env/
ENV/

# Ignore datasets or large files
data/
*.csv
*.xlsx

# Ignore outputs
outputs/*.png
outputs/*.pdf
outputs/*.csv
outputs/*.xlsx

# Ignore logs
*.log

# Ignore VSCode settings
.vscode/

